cffi==1.17.1; python_version >= "3.9" and python_version < "3.14"
packaging==24.1; python_version >= "3.9" and python_version < "3.14"
setuptools-rust==1.8.1; python_version >= "3.9" and python_version < "3.14"
